body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'MuliExtraLight', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -moz-osx-font-smoothing: grayscale; */
}

/* *{
  font-family: MuliExtraLight, sans-serif !important;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.sidebar {
  width: 130px;
  height: calc(100vh - 90px);
  background-color: "blue";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
}

.animated {
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.sidebarMenu {
  height: 70px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.modal .modal-content {
  background-color: rgb(39, 42, 61) !important;
  color: white;
  border: none;
}
a:hover {
  text-decoration: none !important;
  color: white !important;
}
.dropdown-item {
  color: white !important;
}
.nar-dropdown > .dropdown-item:hover {
  text-decoration: none !important;
  color: white !important;
}
.nar-dropdown > .dropdown-item:hover {
  background-color: red;
}
